In [1]:
!pip install mysql-connector-python

import mysql.connector

import mysql.connector
import pandas as pd
import os

# Create folder for CSVs
os.makedirs("csv_results", exist_ok=True)

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# List of queries
queries = {
    "fraud_summary": "SELECT is_fraud, COUNT(*) AS total FROM transactions GROUP BY is_fraud;",
    "amount_summary": "SELECT MIN(amount) AS min_amt, MAX(amount) AS max_amt, AVG(amount) AS avg_amt FROM transactions;",
    "fraud_percentage": "SELECT ROUND(100 * SUM(is_fraud) / COUNT(*), 3) AS fraud_percentage FROM transactions;",
    "top_fraud_transactions": "SELECT * FROM transactions WHERE is_fraud=1 ORDER BY amount DESC LIMIT 10;",
    "transactions_by_hour": """
        SELECT transaction_hour AS hour, COUNT(*) AS total_transactions
        FROM transactions
        GROUP BY transaction_hour
        ORDER BY transaction_hour;
    """,
    "fraud_vs_legit_by_hour": """
        SELECT transaction_hour,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               SUM(CASE WHEN is_fraud=0 THEN 1 ELSE 0 END) AS legit_transactions
        FROM transactions
        GROUP BY transaction_hour
        ORDER BY transaction_hour;
    """,
    "fraud_by_hour_percentage": """
        SELECT transaction_hour,
               SUM(CASE WHEN is_fraud = 1 THEN 1 ELSE 0 END) AS fraud_transactions,
               COUNT(*) AS total_transactions,
               ROUND(SUM(CASE WHEN is_fraud = 1 THEN 1 ELSE 0 END) / COUNT(*) * 100, 2) AS fraud_percentage
        FROM transactions
        GROUP BY transaction_hour
        ORDER BY transaction_hour;
    """,
    "fraud_by_merchant": """
        SELECT merchant_category,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY merchant_category
        ORDER BY fraud_percentage DESC
        LIMIT 10;
    """,
    "fraud_by_device_score": """
        SELECT device_trust_score,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY device_trust_score
        ORDER BY fraud_percentage DESC;
    """,
    "fraud_by_age_group": """
        SELECT CASE 
                   WHEN cardholder_age < 25 THEN '<25'
                   WHEN cardholder_age BETWEEN 25 AND 40 THEN '25-40'
                   WHEN cardholder_age BETWEEN 41 AND 60 THEN '41-60'
                   ELSE '>60'
               END AS age_group,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY age_group
        ORDER BY fraud_percentage DESC;
    """,
    "fraud_by_foreign_category": """
        SELECT foreign_category,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY foreign_category
        ORDER BY fraud_percentage DESC;
    """,
    "fraud_by_velocity": """
        SELECT velocity_last_24h,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY velocity_last_24h
        ORDER BY velocity_last_24h DESC;
    """,
    "fraud_by_location_mismatch": """
        SELECT location_mismathch,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY location_mismathch
        ORDER BY fraud_percentage DESC;
    """
}

# Execute queries and save to CSV
for name, query in queries.items():
    df = pd.read_sql(query, conn)
    df.to_csv(f"csv_results/{queries_credit_card_analysis}.csv", index=False)
    print(f"Saved csv_results/{queries_credit_card_analysis}.csv")

conn.close()
print("All queries executed and CSVs saved successfully.")

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.5.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

ModuleNotFoundError: No module named 'mysql'

In [3]:
import sys
print(sys.executable)

C:\Users\lenovo\anaconda3\envs\ds_env\python.exe

In [5]:
import sys
!"{sys.executable}" -m pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 3.4 MB/s eta 0:00:05
   --- ------------------------------------ 1.6/16.5 MB 2.9 MB/s eta 0:00:06
   ----- ---------------------------------- 2.1/16.5 MB 3.0 MB/s eta 0:00:05
   ------ --------------------------------- 2.6/16.5 MB 2.7 MB/s eta 0:00:06
   -------- ------------------------------- 3.4/16.5 MB 2.8 MB/s eta 0:00:05
   --------- ------------------------------ 3.9/16.5 MB 2.9 MB/s eta 0:00:05
   ----------- ---------------------------- 4.7/16.5 MB 2.9 MB/s eta 0:00:05
   ------------- -------------------------- 5.8/16.5 MB 3.1 MB/s eta 0:00:04
   --------------- ------------------------ 6.6/16.5 MB 3.2 MB/s eta 0:00:04
   ------------------ --------------------- 7.6/16.5 MB 3.4 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.5 MB 3.4 MB/s eta 0:00:03
   ---------------------- ----------------- 9.4/16.5 MB 3.5 MB/s eta 0:00:03
   ------------------------ --------------- 10.2/16.5 MB 3.5 MB/s eta 0:00:02
   -------------------------- ------------- 11.0/16.5 MB 3.6 MB/s eta 0:00:02
   ---------------------------- ----------- 11.8/16.5 MB 3.6 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.5 MB 3.6 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.5 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 3.5 MB/s  0:00:04
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [1]:
import mysql.connector
print("MySQL connector is working ✅")

MySQL connector is working ✅

In [9]:
!pip install mysql-connector-python

import mysql.connector

import mysql.connector
import pandas as pd
import os

# Create folder for CSVs
os.makedirs("csv_results", exist_ok=True)

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mgunumoti13@",
    database="fraud_analytics"
)

# List of queries
queries = {
    "fraud_summary": "SELECT is_fraud, COUNT(*) AS total FROM transactions GROUP BY is_fraud;",
    "amount_summary": "SELECT MIN(amount) AS min_amt, MAX(amount) AS max_amt, AVG(amount) AS avg_amt FROM transactions;",
    "fraud_percentage": "SELECT ROUND(100 * SUM(is_fraud) / COUNT(*), 3) AS fraud_percentage FROM transactions;",
    "top_fraud_transactions": "SELECT * FROM transactions WHERE is_fraud=1 ORDER BY amount DESC LIMIT 10;",
    "transactions_by_hour": """
        SELECT transaction_hour AS hour, COUNT(*) AS total_transactions
        FROM transactions
        GROUP BY transaction_hour
        ORDER BY transaction_hour;
    """,
    "fraud_vs_legit_by_hour": """
        SELECT transaction_hour,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               SUM(CASE WHEN is_fraud=0 THEN 1 ELSE 0 END) AS legit_transactions
        FROM transactions
        GROUP BY transaction_hour
        ORDER BY transaction_hour;
    """,
    "fraud_by_hour_percentage": """
        SELECT transaction_hour,
               SUM(CASE WHEN is_fraud = 1 THEN 1 ELSE 0 END) AS fraud_transactions,
               COUNT(*) AS total_transactions,
               ROUND(SUM(CASE WHEN is_fraud = 1 THEN 1 ELSE 0 END) / COUNT(*) * 100, 2) AS fraud_percentage
        FROM transactions
        GROUP BY transaction_hour
        ORDER BY transaction_hour;
    """,
    "fraud_by_merchant": """
        SELECT merchant_category,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY merchant_category
        ORDER BY fraud_percentage DESC
        LIMIT 10;
    """,
    "fraud_by_device_score": """
        SELECT device_trust_score,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY device_trust_score
        ORDER BY fraud_percentage DESC;
    """,
    "fraud_by_age_group": """
        SELECT CASE 
                   WHEN cardholder_age < 25 THEN '<25'
                   WHEN cardholder_age BETWEEN 25 AND 40 THEN '25-40'
                   WHEN cardholder_age BETWEEN 41 AND 60 THEN '41-60'
                   ELSE '>60'
               END AS age_group,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY age_group
        ORDER BY fraud_percentage DESC;
    """,
    "fraud_by_foreign_category": """
        SELECT foreign_category,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY foreign_category
        ORDER BY fraud_percentage DESC;
    """,
    "fraud_by_velocity": """
        SELECT velocity_last_24h,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY velocity_last_24h
        ORDER BY velocity_last_24h DESC;
    """,
    "fraud_by_location_mismatch": """
        SELECT location_mismathch,
               COUNT(*) AS total_transactions,
               SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) AS fraud_transactions,
               ROUND(SUM(CASE WHEN is_fraud=1 THEN 1 ELSE 0 END) / COUNT(*) *100,2) AS fraud_percentage
        FROM transactions
        GROUP BY location_mismathch
        ORDER BY fraud_percentage DESC;
    """
}

# Execute queries and save to CSV
for name, query in queries.items():
    df = pd.read_sql(query, conn)
    df.to_csv(f"csv_results/{name}.csv", index=False)
    print(f"Saved csv_results/{name}.csv")


conn.close()
print("All queries executed and CSVs saved successfully.")

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12648\2124971012.py:113: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.5.0)
Saved csv_results/fraud_summary.csv
Saved csv_results/amount_summary.csv
Saved csv_results/fraud_percentage.csv
Saved csv_results/top_fraud_transactions.csv
Saved csv_results/transactions_by_hour.csv
Saved csv_results/fraud_vs_legit_by_hour.csv
Saved csv_results/fraud_by_hour_percentage.csv
Saved csv_results/fraud_by_merchant.csv
Saved csv_results/fraud_by_device_score.csv
Saved csv_results/fraud_by_age_group.csv
Saved csv_results/fraud_by_foreign_category.csv
Saved csv_results/fraud_by_velocity.csv
Saved csv_results/fraud_by_location_mismatch.csv
All queries executed and CSVs saved successfully.

In [1]:
import shutil

shutil.make_archive("csv_results", "zip", "csv_results")

'C:\\Users\\lenovo\\sql_project\\csv_results.zip'